# precomputation matrix file
*.dat

# autotools build system
autom4te.cache
libtool
stamp-h1
config.h
config.h.in~
config.status
config.log
.deps
.dirstamp
Makefile
build/

# compiled objects
*.o
*.a
*.so

# doxygen & sphinx
docs/xml/
docs/build/

# jupyter notebook
.ipynb_checkpoints/
