matrix:
  include:
    - language: cpp
      compiler:
        - mpicxx
      before_install:
        - sudo apt-get update
        - sudo apt-get install -y libopenmpi-dev
        - sudo apt-get install -y libfftw3-dev
        - sudo apt-get install -y libopenblas-dev liblapack-dev
        - sudo apt-get install gfortran
      script:
        - ./bootstrap
        - ./configure
        - make
    - language: python
      python:
        - 3.7
      before_install:
        - cd docs/
      install:
        - sudo apt-get install -y doxygen
        - pip install -r requirements.txt
      script:
        - make html 
        - cd ..
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN$
        keep_history: true
        local_dir: docs/_build/html
        on:
          branch: master
